/* You can add global styles to this file, and also import other style files */


.container-h-center { 
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    }
.container-v-center { 
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    }
.container-hv-center { 
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
